body {
    background-color: rgb(231, 181, 204);
}

h1,
h2,
p,
ul,
a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.menu {
    width: 500px;
    border: 2px solid brown;
    border-radius: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

/* ********** */
/* Button */
/* ********** */
.btn {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border-radius: 20px;

    text-transform: uppercase;
    font-weight: 700;

    transition: background-color 250ms linear;
}

.btn:hover {
    background-color: rgba(201, 23, 23, 0.582)
}

.btn::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: brown;


    transition: background-color 250ms linear;
    transition: transform 250ms linear;
}

.btn:hover::before {
    transform: translateY(30px);
}

.btn::after {
    position: absolute;
    top: 50%;
    left: 16;
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transition: transform 250ms linear;
    transform: translateY(calc(-50% - 30px));
    background-color: blue;
}


.btn:hover::after {
    transform: translateY(calc(-50%));
}


/* ********** */
/* Line in menu */
/* ********** */


.menu-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-item:not(:last-child) {
    margin-right: 10px;
}

.link {
    position: relative;
    display: block;
    padding: 10px;
    border: 1px solid black;

    background-color: aqua;
}

.link-first::after {
    position: absolute;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms linear;
    background-color: blue;
}

.link-first:hover::after {
    opacity: 1;
}

.link-second::after {
    position: absolute;
    content: '';
    display: block;
    height: 5px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(179, 255, 0);
    transition: width 250ms linear;

}

.link-second:hover::after {
    width: 100%
}

.link-third::after {
    position: absolute;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 0, 13);
    transform: scaleX(0);
    transition: transform 250ms linear;

}

.link-third:hover::after {
    transform: scaleX(1)
}

/* ******** */
/* OVERLAY */
/* ******** */

.menu {
    overflow: hidden;
}

.nav-wrp {    
    position: relative;
    width: 100%;   
    background-color: blueviolet;
    transform: translateX(110%);
    transition: transform 250ms linear;
}

.nav-desc {
    padding: 10px;
}

.nav-menu {
    display: flex;
}

.nav-item:first-child {
    margin-right: 5px;
}

.nav-link {
    display: block;
    padding: 5px;
    background-color: aqua;
}

.nav-link:hover {
    color: brown;
}


.menu:hover .nav-wrp{   
    transform: translateX(0);
}
